@import "../../styles/utils/variables.scss";

.Loader {
  display: flex;
  justify-content: center;
  align-items: center;

  &__content {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    border: 5px solid $darkGrey;
    border-left-color: #fff;
    animation: load 1.2s infinite linear;
  }
}

@keyframes load {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
