.menu {
  display: none;

  @media (min-width: $desktop) {
    display: flex;
    flex-direction: inherit;
  }

  &--mobile {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 40px 0;
  }

  &--contacts {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (min-width: $desktop) {
      align-items: flex-start;
      padding-top: 40px;
    }
  }

  &__item {
    padding: 26px 0;
    cursor: pointer;

    &--mobile {
      padding: 40px 0;
    }
  }  
  
  &__link {
    color: #eee;
    transition: $transition;
    font-weight: 400;
    padding: inherit;

    &--mobile {
      font-size: 34px;
      line-height: 41px;
      font-weight: 500;
    }

    &:hover {
      color: #fff;
    }
    
    &--active {
      position: relative;
      font-weight: 500;
      color: #fff;

      &::after {
        position: absolute;
        box-sizing: border-box;
        bottom: 0;
        left: 0;
        content: "";
        width: 100%;
        border: 1px solid;
        border-radius: 8px;

        @media (min-width: $desktop) {
          bottom: 3px;
        }
      }
    }
  }
}
